@use "./breakpoints" as *;
@use "./functions" as *;

@mixin container {
  width: 100%;
  margin: 0 auto;
  padding: 0 getInd(400);

  @include sm {
    max-width: map-get($breakpoints, "sm");
    padding: 0;
  }

  @include md {
    max-width: map-get($breakpoints, "md");
  }

  @include lg {
    max-width: map-get($breakpoints, "lg");
  }

  @include xl {
    max-width: map-get($breakpoints, "xl");
  }

  @include xxl {
    max-width: map-get($breakpoints, "xxl");
  }
}

// Box shadows
@mixin boxShadow1 {
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.12), 0 1px 2px hsla(0, 0%, 0%, 0.24);
}

@mixin boxShadow2 {
  box-shadow: 0 3px 6px hsla(0, 0%, 0%, 0.15), 0 2px 4px hsla(0, 0%, 0%, 0.12);
}

@mixin boxShadow3 {
  box-shadow: 0 10px 20px hsla(0, 0%, 0%, 0.15), 0 3px 6px hsla(0, 0%, 0%, 0.1);
}

@mixin boxShadow4 {
  box-shadow: 0 15px 25px hsla(0, 0%, 0%, 0.15),
    0 5px 10px hsla(0, 0%, 0%, 0.05);
}

@mixin boxShadow5 {
  box-shadow: 0 20px 40px hsla(0, 0%, 0%, 0.2);
}
